<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>

        .b{
            font-family: Arial, Helvetica, sans-serif;
            color: #4b367b;
            padding-top: 100px;
        } 
        .header {
            padding: 50px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            background: #4b367b;
            color: white;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            vertical-align: middle;
        }

        </style>

</head>

    
    <body>
    
        <div class="header">
            <h1>Bank Marketing Campaign Analysis</h1>
            <h2>(ML-Classification)</h2>
            <h4>Project by: Steven Fernaldy Susanto</h4>
        </div>
    
        <br>
        <div class = 'b'>
            <b></b><h1>Welcome User</h1></b>
            <h4>Dashboard ini bertujuan untuk memprediksi client bank yang berpotensi untuk membuka deposito berjangka.</h4>
            <br>
            <a class="btn btn-info" href="/DataFrame" role="button">DataFrame</a>
            <a class="btn btn-info" href="/visual" role="button">Visualization</a>
            <a class="btn btn-info" href="/predict" role="button">Prediction</a>
        </div>

        
    </body>

       
</html>