<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
    <style>
        .a {
            font-family: Arial, Helvetica, sans-serif;
            color: #4b367b;
        }  

        .header {
            padding: 50px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            background: #4b367b;
            color: white;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            vertical-align: middle;
        }
        
        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            vertical-align: middle;        
        }

        .form-group{
            font-family: Arial, Helvetica, sans-serif;
            vertical-align: middle;
            text-align: left;
            font-size: 25px;
        }
        </style>
</head>


<body>

    <div class="header">
        <h1>Prediction</h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class = "nav-item">
                <a class="nav-link" href="http://localhost:8050/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8050/DataFrame">DataFrame<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8050/visual">Visualization<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:8050/predict">Prediction</a>
            </li>
          </ul>
        </div>
    </nav>



    <center>
        <br>
        <form method="POST" action="http://localhost:8050/result">
            <br>
            <div class = 'a'>
                <h1>Social and Economic Context Attributes : </h1>
            </div>

            <div class="col">

                <div class="form-group">
                     
                    <label for = 'euribor'>Euribor3m : </label>
                    <input type="number"  step="0.01" class="form-control" name = 'euribor' placeholder="Masukkan Euribor "> 
                    <br>
    
                    <label for = 'var'>Employment Variation Rate :</label>
                    <input type="number"  step="0.01" class="form-control" name = 'var' placeholder="Masukkkan tingkat variasi pekerja "> 
                    <br>
                   
                    <label for = 'employee'>Number of Employee : </label>
                    <input type="number" step="0.01" class="form-control" name = 'employee' placeholder="Masukkan jumlah pekerja ""> 
                    <br>
    
                    <label for = 'cpi'>Consumer Price Index (CPI) : </label>
                    <input type="number"  step="0.01" class="form-control" name = 'cpi' placeholder="Masukkan indeks harga konsumen "> 
                    <br>

                    <label for = 'cci'>Consumer Confidence Index (CCI) : </label>
                    <input type="number"  step="0.01" class="form-control" name = 'cci'' placeholder="Masukkan indeks keyakinan konsumen ""> 
                    <br>

    
                </div>

            </div>

            <div class = 'a'>

                <h1>Bank client data :</h1>

            </div>

            <div class="form-row" style="width: 1200px">

                <div class="form-group col-md-4" style="width: 100px" required="required">
                    <label for = 'age'>Age : </label>
                    <input type="number"  class="form-control" id="age" name="age" placeholder="Masukkan umur"  min="16" max="100"> 
                </div>

                <div class="form-group col-md-4" style="width: 100px" required="required">

                  <label for="job">Job :</label>

                  <select name="job" class="form-control">

                      <option value="admin.">Admin</option>
                      <option value="blue-collar">Blue-Collar</option>
                      <option value="entrepreneur">Entrepreneur</option>
                      <option value="housemaid">Housemaid</option>
                      <option value="management">Management</option>
                      <option value="retired">Retired</option>
                      <option value="self-employed">Self-Employed</option>
                      <option value="services">Services</option>
                      <option value="student">Student</option>
                      <option value="technician">Technician</option>
                      <option value="unemployed">Unemployed</option>

                  </select>

                </div>

                <div class="form-group col-md-4" style="width: 100px" required="required">

                    <label for="marital">Marital :</label>

                    <select name="marital" class="form-control">

                        <option value="married">Married</option>
                        <option value="single">Single</option>
                        <option value="divorced">Divorced</option>

                    </select>

                </div>

                <div class="form-group col-md-4" style="width: 150px" required="required">

                    <label for="education">Education :</label>

                    <select name="education" class="form-control">

                        <option value="basic.4y">Basic.4y</option>
                        <option value="basic.6y">Basic.6y</option>
                        <option value="basic.9y">Basic.9y</option>
                        <option value="high.school">High School</option>
                        <option value="professional.course">Professional Course</option>
                        <option value="university.degree">University Degree</option>


                    </select>

                </div>

                <div class="form-group col-md-4" style="width: 150px" required="required">

                    <label for="month">Month :</label>

                    <select name="month" class="form-control">

                        <option value="jan">January</option>
                        <option value="feb">February</option>
                        <option value="mar">March</option>
                        <option value="apr">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="aug">August</option>
                        <option value="sep">September</option>
                        <option value="oct">October</option>
                        <option value="nov">November</option>
                        <option value="dec">December</option>

                    </select>

                </div>

                <div class="form-group col-md-4" style="width: 150px" required="required">

                    <label for="default">Default :</label>

                    <select name="default" class="form-control">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                        <option value="unknown">Unknown</option>
                    </select>

                </div>   

                <div class="form-group col-md-4" style="width: 150px" required="required">

                    <label for="contact">Contact :</label>

                    <select name="contact" class="form-control">

                        <option value="telephone">Telephone</option>
                        <option value="cellular">Cellular</option>

                    </select>

                </div>


            </div>

            <br>
            <div class = 'a'>

                <h1>Other Attributes : </h1>

            </div>


            <div class="form-row" style="width: 1200px">

                <div class="form-group col-md-4" style="width: 150px" required="required">

                    <label for = "campaign">Campaign : </label>
                    <input type="number"  class="form-control" id="Camp" name="campaign" placeholder= "Masukkan berapa banyak kontak terjadi di kampanye kali ini"> 
                    <br>
    
                </div>

                
                <div class="form-group col-md-4" style="width: 150px height: 100px;" required="required">

                    <label for="poutcome">Poutcome :</label>

                    <select name="poutcome" class="form-control">
                        <option value="success">Success</option>
                        <option value="failure">Failure</option>
                        <option value="nonexistent">Nonexistent</option>
                    </select>

                </div>
            </div>
            
            
            
            <button type="submit" class="btn btn-primary btn-lg btn-block">PREDICT</button>

        </form>

    


</body>
</html>